include README.md
include LICENSE
include CHANGELOG.md
include .gitignore
recursive-include django_document_manager/models *.py
recursive-include django_document_manager/management/commands *.py
recursive-include django_document_manager/migrations *.py
recursive-include django_document_manager/data *.json
include django_document_manager/__init__.py
include django_document_manager/apps.py
include django_document_manager/admin.py
include django_document_manager/conf.py
include django_document_manager/py.typed
include django_document_manager/catalogs.py
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~
global-exclude __pycache__
global-exclude .DS_Store
global-exclude test_app/*
global-exclude core_build/*
